# Production env for static docs + nginx + traefik
# Do NOT commit the filled .env.prod
SERVER_NAME=atlas.neotel.com.br
PROD_IMAGE_NAME=neocontratos-docs
PROD_IMAGE_TAG=local
NGINX_CLIENT_MAX_BODY_SIZE=2m
TRAEFIK_CERT_PATH=/etc/letsencrypt/live/atlas.neotel.com.br/fullchain.pem
TRAEFIK_KEY_PATH=/etc/letsencrypt/live/atlas.neotel.com.br/privkey.pem
